<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="flashbox.tracck">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".app.TKApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.TKSplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".signin.TKPhoneSubmitActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".signin.TKPhoneVerifyActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".connect.amazon.ui.TKAmazonLoginActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".home.TKHomeActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".home.archive.TKArchiveActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".home.details.TKPurchaseDetailActivity"
            android:screenOrientation="portrait">
        </activity>

        <!-- Boot Completed & Wakeup -->
        <receiver
            android:name=".app.TKBootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>
    </application>

</manifest>